<div class="content">
    <img id="checkmark-img" src="/assets/img/cancel.png"/>
    <p>Oops. It looks like your order was cancelled.</p>
    <p>Make sure to finalize your cart before proceeding to checkout.</p>
    <a href="/shop"><button class="uk-button uk-button-default uk-button-small">Return to Shop</button></a>
</div>
