<p>
    Welcome to the Official Georgia Tech Ice Hockey Shop Page!
</p>
<p>
    This is the only place where you can purchase official team issued Georgia Tech Ice Hockey Merchandise. 
    Please don't hesitate contact us if you have any questions or concerns. All purchases are completed on Verbero's website, linked below! Please note all sales are final with no returns.
</p>



<div class="uk-grid uk-margin-medium-bottom" uk-grid uk-height-match="target: .img; row: false">
    <div *ngFor="let item of items" class="uk-width-1-2@m card" [routerLink]="['/shop']">
        <div>
            <a href="https://www.verbero.com/collections/georgia-tech" target="_blank" rel="noopener noreferrer">
                <img class="img" src="{{ item.image }}" alt="Georgia Tech Collection"/>
            </a>
        </div>

       
    </div>
</div>