.card {
    transition: transform .5s;
}

.card:hover {
    transform: scale(0.96);
}

img {
    object-fit: cover;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
}

.text-content {
    padding-top: 8px;
    font-size: x-large;
    color: #000000;
}

.text-content:hover {
    text-decoration: underline;
}