<div class="uk-alert-success" uk-alert *ngIf="success"><p>Thanks for reaching out. We will get back to you shortly!</p></div>

<h1 class="uk-heading-divider">Prospect Form</h1>
<form (ngSubmit)="submitForm()">
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.name">
        <p>{{ errors.name }}</p>
    </div>
    <input type="text" [(ngModel)]="model.name" name="name" required id="id_name" class="uk-input" placeholder="Player's Full Name"/>
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.email">
        <p>{{ errors.email }}</p>
    </div>
    <input type="text" [(ngModel)]="model.email" name="email" required id="id_email" class="uk-input" placeholder="Player's Email Address" />
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.phone">
        <p>{{ errors.phone }}</p>
    </div>
    <input type="text" [(ngModel)]="model.phone" name="phone" id="id_phone" class="uk-input" placeholder="Player's Phone Number" />
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.birth">
        <p>{{ errors.birh }}</p>
    </div>    
    <input type="text" [(ngModel)]="model.birth" name="birth" id="id_birth" class="uk-input" placeholder="Date of Birth" />
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.hometown">
        <p>{{ errors.hometown }}</p>
    </div>
    <input type="text" [(ngModel)]="model.hometown" name="hometown" id="id_hometown" class="uk-input" placeholder="Hometown" />
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.status">
        <p>{{ errors.status }}</p>
    </div>
    <select [(ngModel)]="model.status" name="status" id="id_status" class="uk-select">
      <option selected value="">-- Select Application Status --</option>
      <option value="Current">Current Tech Student</option>
      <option value="Committed">Accepted (Committed)</option>
      <option value="Accepted">Accepted (Undecided)</option>
      <option value="Waitlisted">Waitlisted</option>
      <option value="Future">Not Yet Applied</option>
    </select>
  </div>

  <div class="uk-margin" *ngIf="!(model.status === 'Current' || model.status === '')">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.status">
        <p>{{ errors.start }}</p>
    </div>
    <select [(ngModel)]="model.start" name="start" id="id_start" class="uk-select">
      <option selected value="">-- Start Semester --</option>
      <option value="Fall 2020">2020 -- Fall</option>
      <option value="Spring 2021">2021 -- Spring</option>
      <option value="Fall 2021">2021 -- Fall</option>
      <option value="Fall 2022">2022</option>
      <option value="Fall 2023">2023</option>
      <option value="Fall 2024">2024</option>
      <option value="Fall 2025">2025</option>
      <option value="Future">Future</option>
    </select>
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.position">
        <p>{{ errors.position }}</p>
    </div>
    <select [(ngModel)]="model.position" name="position" id="id_position" class="uk-select">
      <option selected value="">-- Select Position --</option>
      <option value="Forward">Forward</option>
      <option value="Defense">Defense</option>
      <option value="Goalie">Goalie</option>
    </select>
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.handedness">
        <p>{{ errors.handedness }}</p>
    </div>
    <select [(ngModel)]="model.handedness" name="handedness" id="id_handedness" class="uk-select" [disabled]="model.position === ''">
      <option selected value="">-- Select Handedness --</option>
      <option value="Shoot Right" *ngIf="model.position != 'Goalie'">Shoot Right</option>
      <option value="Shoot Left" *ngIf="model.position != 'Goalie'">Shoot Left</option>
      <option value="Catch Left" *ngIf="model.position == 'Goalie'">Catch Left</option>
      <option value="Catch Right" *ngIf="model.position == 'Goalie'">Catch Right</option>
    </select>
  </div>
  

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.comments">
        <p>{{ errors.comments }}</p>
    </div>
    <textarea [(ngModel)]="model.comments" name="comments" rows="10" id="id_comments" class="uk-textarea" placeholder="Past Hockey Experience / Comments"></textarea>
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.captcha">
        <p>{{ errors.captcha }}</p>
    </div>
    <re-captcha [(ngModel)]="model.captcha" name="captcha"  siteKey="{{ recaptchaKey }}"></re-captcha>
  </div>

  <input class="uk-button uk-button-primary" type="submit" value="Submit" />  
</form>