<div *ngFor="let position of getPositions(positions)" class="uk-margin-large-bottom">
    <h1 class="uk-heading-divider">{{ position }}</h1>
    <div class="uk-overflow-auto uk-width-1">
        <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th *ngIf="!(position.includes('Managers'))">#</th>
                    <th>Name</th>
                    <th class="uk-visible@m">Hometown</th>
                    <th class="uk-visible@m">Major</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of positions.get(position)" [routerLink]="['/roster', player.id]">
                    <td *ngIf="!(position.includes('Managers'))">{{ player.number }}</td>
                    <td>{{ player.first_name }} {{ player.last_name }}</td>
                    <td class="uk-visible@m">{{ player.hometown }}</td>
                    <td class="uk-visible@m">{{ player.school }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>