.card {
    transition: transform .5s;
}

.card:hover {
    transform: scale(0.96);
}

.img-holder {
    position: relative;
}

.img {
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
}

.img-holder .number {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: large;
    color: #000000;
}

.name {
    display: block;
    padding-top: 8px;
    font-size: x-large;
    color: #000000;
}

.name:hover {
    text-decoration: underline;
}