<p>
    The Georgia Tech Ice Hockey Club takes pride in being 100% student run. Working with the hired coaching staff, 
    the student board strives to retain the organization's professional nature.
</p>
<p>
    At the conclusion of every fall semester, the team holds a meeting to elect a new group of board members for the
    following season. These players are then entrusted with managing the team through season’s end.
</p>

<h1 class="uk-heading-divider">Student Board</h1>

<div class="uk-grid-match uk-margin-medium-bottom" uk-grid>
    <div *ngFor="let board_member of board" class="uk-width-1-1@m uk-position-relative card">
        <div class="position uk-visible@l">{{ board_member.position }}</div>

        <div class="content-large uk-visible@l">
            <div class="img-holder">
                <img class="img" src="{{ board_member.image }}" />
                <div class="text-content">
                    <div class="name">{{ board_member.first_name }} {{ board_member.last_name }}</div>
                    <p class="description">{{ board_member.description }}</p>
                    <a href="mailto:{{board_member.email}}">Email {{ board_member.first_name }}</a>
                </div>
            </div>
        </div>

        <div class="content-small uk-hidden@l">
            <div class="position">{{ board_member.position }}</div>
            <div class="name">{{ board_member.first_name }} {{ board_member.last_name }}</div>
            <img class="img" src="{{ board_member.image }}" />
            <p class="description">{{ board_member.description }}</p>
            <a href="mailto:{{board_member.email}}">Email {{ board_member.first_name }}</a>
        </div>
    </div>
</div>

<h1 class="uk-heading-divider">Coaching Staff</h1>

<div class="uk-grid-match uk-margin-medium-bottom" uk-grid>
    <div *ngFor="let coach of coaches" class="uk-width-1-1@m uk-position-relative card">
        <div class="position uk-visible@l">{{ coach.coach_position }}</div>

        <div class="content-large uk-visible@l">
            <div class="img-holder">
                <img class="img" src="{{ coach.image }}" />
                <div class="text-content">
                    <div class="name">{{ coach.first_name }} {{ coach.last_name }}</div>
                    <p class="description">{{ coach.bio }}</p>
                    <a href="mailto:{{coach.email}}">Email Coach {{ coach.last_name }}</a>
                </div>
            </div>
        </div>

        <div class="content-small uk-hidden@l">
            <div class="position">{{ coach.coach_position }}</div>
            <div class="name">{{ coach.first_name }} {{ coach.last_name }}</div>
            <img class="img" src="{{ coach.image }}" />
            <p class="description">{{ coach.bio }}</p>
            <a href="mailto:{{coach.email}}">Email Coach {{ coach.last_name }}</a>
        </div>
    </div>
</div>