.card {
    transition: transform .5s;
}

.card:hover {
    transform: scale(0.96);
}

.position {
    font-size: x-large;
    color: #000000;
    display: block;
}

.content-large {
    padding-top: 8px;
    display: flex;
}

.img-holder {
    display: flex;
}

.img {
    object-fit: cover;
    width: 40%;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
}

.text-content {
    padding-left: 16px;
}

.text-content .name {
    color: #000000;
    font-size: x-large;
}

.description {
    color: #777;
    font-size: medium;
}

.content-small {
    padding-top: 8px;
}

.content-small .name {
    color: #000000;
    font-size: large;
}

.content-small .img {
    object-fit: cover;
    width: 100%;
    padding-top: 8px;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
}