<div class="content">
    <img id="checkmark-img" src="/assets/img/check-mark.png"/>
    <p>Thank you for your order!</p>
    <p>You should be receiving an email receipt from us shortly.</p>
    <a href="/"><button class="uk-button uk-button-default uk-button-small">Return to News</button></a>
</div>
