<div class="uk-alert-success" uk-alert *ngIf="success"><p>Thanks for reaching out. We will get back to you shortly!</p></div>

<h1 class="uk-heading-divider">Contact Us</h1>
<form (ngSubmit)="submitForm()">
  <div class="uk-margin">
      <div class="uk-alert-danger" uk-alert *ngIf="errors.name">
          <p>{{ errors.name }}</p>
      </div>
      <input type="text" [(ngModel)]="model.name" name="name" required id="id_name" class="uk-input" placeholder="Name"/>
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.email">
        <p>{{ errors.email }}</p>
    </div>
    <input type="text" [(ngModel)]="model.email" name="email" required id="id_email" class="uk-input" placeholder="Email Address" />
  </div>
  
  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.subject">
        <p>{{ errors.subject }}</p>
    </div>
    <input type="text" [(ngModel)]="model.subject" name="subject" required id="id_subject" class="uk-input" placeholder="Subject" />
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.message">
        <p>{{ errors.message }}</p>
    </div>
    <textarea [(ngModel)]="model.message" name="message" rows="10" id="id_message" class="uk-textarea" placeholder="Message"></textarea>
  </div>

  <div class="uk-margin">
    <div class="uk-alert-danger" uk-alert *ngIf="errors.captcha">
        <p>{{ errors.captcha }}</p>
    </div>
    <re-captcha [(ngModel)]="model.captcha" name="captcha"  siteKey="{{ recaptchaKey }}"></re-captcha>
  </div>

  <input class="uk-button uk-button-primary" type="submit" value="Submit" />
</form>