<article *ngIf="article" class="uk-article">
    <img src="{{ article.image }}" />
    <div class="article-date">{{ article.date | date:'longDate' }}</div>
    <div class="article-title">{{ article.title }}</div>
    <p class="article-content" *ngFor="let paragraph of paragraphs" [innerHtml]="paragraph"></p>    
</article>