.article-date {
    padding-top: 20px;
    font-size: medium;
    color: #777;
    display: block;
}

.article-title {
    font-size: xx-large;
    color: #D6C169;
    display: block;
}

.article-content {
    font-size: medium;
    color: #000000;
}