.section-header {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    color: #252F56;
}

.text-content {
    margin-bottom: 16px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

.text-content .item {
    font-size: xx-large;
    display: block;    
}

.text-content .price {
    font-size: larger;
    display: block;
}

.item-content {
    font-size: medium;
    color: #000000;
}

.out-of-stock {
    background-color: #D6C169;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    color: #fff;
    border-radius: 14px;
    padding: 5px;
    text-align: center;
}
