<div *ngIf="item">
    <div class="text-content">
        <label class="item">{{ item.name }}</label>
        <label class="price">${{ item.price }}</label>
    </div>
    <div>
        <app-carousel [carouselItems]="imageCarousel"></app-carousel>
    </div>
    <p class="item-content" *ngFor="let paragraph of paragraphs(item.description)" [innerHTML]="paragraph"></p>
    <hr class="uk-divider-icon">
    <app-item-form *ngIf="item.in_stock"></app-item-form>
    <div class="out-of-stock" *ngIf="!item.in_stock">
        This item is currently out of stock. We apologize for the inconvenience.
    </div>
</div>