<div *ngIf="leadArticle">

    <h1 class="uk-heading-divider">Featured Story</h1>

    <div *ngIf="leadArticle" class="uk-width-1-1 uk-position-relative uk-margin-bottom card" routerLink="article/{{ leadArticle.id }}">
        <div class="img-gradient">
            <img src="{{ leadArticle.image }}" />
        </div>

        <div class="text-content uk-position-bottom uk-visible@l">
            <label class="date">{{ leadArticle.date | date:'longDate' }}</label>
            <label class="title">{{ leadArticle.title }}</label>
        </div>

        <div class="below-text-content uk-hidden@l">
            <label class="date">{{ leadArticle.date | date:'longDate' }}</label>
            <label class="title">{{ leadArticle.title }}</label>
        </div>
    </div>

    <h1 class="uk-heading-divider">More Articles</h1>

    <div class="uk-grid uk-margin-medium-bottom" uk-grid uk-height-match="target: .more-img; row: false">
        <div *ngFor="let article of currentArticles" class="uk-width-1-2@m uk-position-relative card" routerLink="article/{{ article.id }} uk-position-relative">
            <div class="img-gradient">
                <img class="more-img" src="{{ article.image }}" />
            </div>
        
            <div class="more-text-content uk-position-bottom uk-visible@l">
                <label class="date">{{ article.date | date:'longDate' }}</label>
                <label class="title">{{ article.title }}</label>
            </div>
        
            <div class="below-text-content uk-hidden@l">
                <label class="date">{{ article.date | date:'longDate' }}</label>
                <label class="title">{{ article.title }}</label>
            </div>
        </div>
    </div>

    <ul class="uk-pagination uk-flex-center uk-text-large" uk-margin>
        <li class="uk-margin-auto-right" [ngClass]="{'uk-disabled':currentPage <= 1}"><a href="#nav-anchor" (click)="updatePage(currentPage-1)"><span uk-pagination-previous></span> Previous</a></li>
        <li id="page-numbers" *ngFor="let page of pageNumbers" class="uk-visible@m" [ngClass]="{'uk-active':currentPage === page}"><a href="#nav-anchor" (click)="updatePage(page)">{{ page }}</a></li>
        <li class="uk-margin-auto-left" [ngClass]="{'uk-disabled':currentPage > numPages}"><a href="#nav-anchor" (click)="updatePage(currentPage+1)">Next <span uk-pagination-next></span></a></li>
    </ul>
    
</div>
