.card {
    transition: transform .5s;
}

.card:hover {
    transform: scale(0.96);
    /* .txt:hover { */
    /* text-decoration: underline; */
    /* } */
}

.img-gradient {
    position: relative;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
}

.img-gradient img {
    object-fit: cover;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    transition: transform .2s;
}

.img-gradient .more-img {
    object-fit: cover;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.img-gradient:after {
    border-radius: 14px;
    content: '';
    position: absolute;
    left: 0px; 
    bottom: 0px;
    width: 100%; 
    height: 50%;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(0, 0, 0, 1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.0)), color-stop(100%,rgba(0, 0, 0, 1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.0) 0%,rgba(0, 0, 0, 1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%,rgba(0, 0, 0, 1.0) 100%); /* W3C */
    background: -o-linear-gradient(top, rgba(255,255,255,0.0) 0%,rgba(0, 0, 0, 1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.0) 0%,rgba(0, 0, 0, 1.0) 100%); /* IE10+ */
}

.text-content {
    bottom: 16px;
    left: 16px;
    right: 16px;
}

.text-content:hover {
    text-decoration: underline;
}

.text-content .date {
    font-size: larger;
    color: rgba(241, 242, 235, 1.0);
    display: block;    
}

.text-content .title {
    font-size: xx-large;
    color: #fff;
    display: block;
}

.below-text-content {
    padding-top: 8px;
}

.below-text-content:hover {
    text-decoration: underline;
}

.below-text-content .date {
    font-size: large;
    color: #777;
    display: block;
}

.below-text-content .title {
    font-size: x-large;
    color: #000000;
    display: block;
}

.more-text-content {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-left: 32px;
    padding-right: 56px;
}

.more-text-content:hover {
    text-decoration: underline;
}

.more-text-content .date {
    font-size: large;
    color: rgba(241, 242, 235, 1.0);
    display: block;    
}

.more-text-content .title {
    font-size: x-large;
    color: #fff;
    display: block;
}

.uk-margin-auto-left, .uk-margin-auto-right, #page-numbers {
    font-size: large;
    color: #fff;
}