<div class="uk-grid uk-grid-small" uk-grid>    

    <!-- LEFT COLUMN: Main Donation Section -->
    <div class="uk-width-1-2@m">
        <div>
            <h2 class="uk-heading-divider">Donate To The Team!</h2>
            <p>
               As a fully student ran orginization, donations are used to help fund our season and allow us to continue to play the game we love.
               We are a 501c-3 organization and all donations are tax-deductible. We appreciate any and all contributions. Thank you for your support!
            </p>
            <app-donation></app-donation>
        </div>
    </div>
  
    <!-- RIGHT COLUMN: Additional Ways to Support -->
    <div class="uk-width-1-2@m">
        <div>
            <h2 class="uk-heading-divider">Alternate Ways To Donate</h2>
            <p>
                Here are a few alternative options to help support our organization if you choose not to use the link:
            </p>
            <ul class="uk-list uk-list-bullet">
                <li>Zelle : (571) 418-9510</li>
                <li>Send a check to 260 Ferst Dr NW, Atlanta, GA 30318. All checks should be made out to Georgia Tech Ice Hockey Club    
                </li>
                
                <li>Buy team merchandise <a href="https://www.verbero.com/collections/georgia-tech" target="_blank" rel="noopener noreferrer">
                    Visit the Georgia Tech Collection
                </a>
                </li>
            </ul>
        </div>
    </div>
  
  </div>
  
  