.sidebar-content {
    font-family: 'Oswald', sans-serif;
}

.countdown-header {
    background-color: #D6C169;
    font-size: medium;
    color: #fff;
    border-radius: 14px;
    padding: 5px;
    text-align: center;
}

.countdown {
    text-align: center;
    background: #D6C169;
    padding:10px;
    text-align:center;
    border-radius: 14px;
}

.countdown-team {
    color: #252F56;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.countdown-logo {
    padding-top: 10px;
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.countdown-location {
    font-size: medium;
    text-align: center;
    color: #777;
    margin-bottom: 5px;
}

.countdown-starttime {
    font-size: medium;
    padding-top: 10px;
    color: #252F56;
    border-radius: 5px;
    text-align: center;
}

.countdown-time {
    padding-bottom: 10px;
    text-align: center;
}

.countdown-time span {
    font-size: xx-large;
    color: #D6C169;
    float: none;
    width: 50px;
    display: inline-block;
    position: relative;
}

.countdown-time span small {
    font-size: small;
    color: #777;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-top: -5px;
}