<div class="uk-container uk-padding-remove">
  <div id="header" class="uk-visible@l">
    <img id="header-img" src="/assets/img/jacketwithstick.png"/>
    <label id="header-title">Georgia Tech Hockey</label>
  </div>

  <nav id="navbar" class="uk-navbar-container uk-margin uk-visible@l" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">News</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/schedule/">Schedule</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/roster/">Roster</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/shop/">Shop</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/board/">Front Office</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/donate/">Donate</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/sponsorship/">Sponsorships</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/prospect/">Recruitment</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/involvement/">Get Involved</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/contact/">Contact Us</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li routerLinkActive="uk-active"><a routerLink="/cart/"><span uk-icon="icon: cart; ratio: 1.25"></span></a></li>
      </ul>
    </div>
  </nav>
  <nav class="uk-navbar-container uk-hidden@l" uk-navbar="mode: click; dropbar: true; dropbar-mode: push">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">GT Hockey</span>
          </a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">News</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/schedule/">Schedule</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/roster/">Roster</a></li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/shop/">Shop</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/board/">Front Office</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/donate/">Donate</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/sponsorship/">Sponsorships</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/prospect/">Recruitment</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/involvement/">Get Involved</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/contact/">Contact Us</a></li>
            <li *ngIf="!cartService.empty()" routerLinkActive="uk-active"><a routerLink="/cart/">Cart</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li routerLinkActive="uk-active"><a routerLink="/cart/"><span uk-icon="icon: cart; ratio: 1.5"></span></a></li>
      </ul>
    </div>
  </nav>
  <div class="uk-navbar-dropbar"></div>

  <div id="content" class="uk-grid uk-grid-collapse" uk-grid>
    <div id="main" class="uk-width-expand uk-padding-small">
      <router-outlet></router-outlet>
    </div>
    <div id="sidebar" class="uk-width-1-4 uk-visible@m uk-padding-small">
      <app-sidebar-record></app-sidebar-record>
      <app-sidebar-countdown></app-sidebar-countdown>
      <div class="sidebar-content">
        <a class="twitter-timeline" href="https://twitter.com/GT_Hockey" data-widget-id="299732266605748224">Tweets by @GT_Hockey</a>
      </div>
      <div class="sidebar-content">
        <div class="fb-page" data-href="https://www.facebook.com/pages/Georgia-Tech-Hockey/85852244494" data-width="330" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        <div id="fb-root"></div>
      </div>
    </div>
  </div>
</div>
