* {
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
}

#header-title {
    margin-left: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;;
}

#content {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    padding: 35px;
    border-radius: 14px;
}

#sidebar {
    border-left: 1px #D6C169 solid;
}

#navbar {
    border-radius: 14px;
}