.season-record-header {
    background-color: #D6C169;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    color: #fff;
    border-radius: 14px;
    padding: 5px;
    text-align: center;
}

.season-record-data {
    color: #252F56;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}