<div *ngIf="record && season" class="sidebar-content" routerLink="/schedule/">
  <div class="season-record">
    <div class="season-record-header">
    <span class="season-name">{{ season }}</span> Record
    </div>
    <div class="season-record-data">{{ record }}</div>
  </div>
</div>