<h1 class="uk-heading-divider">Shopping Cart</h1>
<div *ngIf="cartEmpty()"><p>Add Items to your Cart to place an order!</p></div>
<div *ngIf="!cartEmpty()">
    <app-cart-form></app-cart-form>
    <p>Make sure your order is exactly what you want before proceeding. Once you checkout, your cart will be emptied.</p>
    <app-stripe-checkout></app-stripe-checkout>
</div>