<div class="uk-grid uk-grid-small" uk-grid>
  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-divider">Fans and Alumni</h2>
    Want to stay up to date with the latest in Georgia Tech Hockey News? Fill out the form below and we'll add you to our mailing
    list. We hate spam too, at the most you'll receive a few emails a month from us during the season.
    <form (ngSubmit)="submitForm()">
      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.name">
            <p>{{ errors.name }}</p>
        </div>
        <input type="text" [(ngModel)]="model.name" name="name" required id="id_name" class="uk-input" placeholder="Full Name"/>
      </div>
      
      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.email">
            <p>{{ errors.email }}</p>
        </div>
        <input type="text" [(ngModel)]="model.email" name="email" required id="id_email" class="uk-input" placeholder="Email Address" />
      </div>

      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.relation">
          <p>{{ errors.relation }}</p>
        </div>
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="1" required /> I'm a GT Hockey Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="2" required /> I'm a regular GT Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="3" required /> I'm related to a GT Hockey Player/Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="4" required /> I'm a regular fan</label><br />
      </div>

      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.captcha">
            <p>{{ errors.captcha }}</p>
        </div>
        <re-captcha [(ngModel)]="model.captcha" name="captcha"  siteKey="{{ recaptchaKey }}"></re-captcha>
      </div>
    
      <input class="uk-button uk-button-primary" type="submit" value="Submit" />
    </form>
    <div class="uk-alert-success" uk-alert *ngIf="success"><p>Thanks for reaching out. We will get back to you shortly!</p></div>
  </div>

  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-divider">Alumni</h2>
    <p>We are always looking to connect with our alumni. If you are a former player, coach, or staff member, please reach out to us. We would love to hear from you and get you involved with the team. If you are not an alumnus but wish to get involved with the team and/or speak to alumni, please reach out to us and we will get you in touch! </p>

    <a class = "uk-button uk-button-primary" href="/contact">Contact Us</a>
    <!--</p>
    <p>
      Alumni 1 - email (fill out for board if Drew wants? Could be good to highlight it, but only if they choose to have their emails on the site)
    </p>
    <p>
      Put event calender here for alumni? Would have to have people manage it, could be games, alumni weekend, any other gathering we choose as well would just need to set it up
    </p> -->

    
  </div>
</div>