<form (ngSubmit)="submitForm()">
  <div class="uk-margin">
    <label for="id_amount">Donation Amount (USD):</label>
    <div class="uk-alert-danger" uk-alert *ngIf="errors.amount">
        <p>{{ errors.amount }}</p>
    </div>
    <input type="test" [(ngModel)]="model.amount" name="amount" required id="id_amount" class="uk-input" placeholder="Donation Amount" />
  </div>

  <input class="uk-button uk-button-primary" type="submit" value="Donate" />
</form>