// 1. Your custom variables and variable overwrites.
$gt-gold: #D6C169;
$gt-navy: #252F56;
$gt-navy-background: #151A30;

$form-focus-border: $gt-gold;
$table-row-active-background: lighten($gt-gold, 30%);

$navbar-background: $gt-navy;
$navbar-dropdown-background: $gt-navy;
$navbar-nav-item-color: #fff;

// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-navbar-nav-item() { 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: large;
    color: #FFF;
    border-radius: 14px;
}
@mixin hook-navbar-nav-item-hover() {
    background-color: $gt-gold;
    color: #fff;
}
@mixin hook-navbar-nav-item-onclick() {
    background-color: $gt-gold;
    color: #fff;
}
@mixin hook-navbar-nav-item-active() {
    background-color: $gt-gold;
    color: #fff;
}

@mixin hook-navbar-dropdown-nav-item() {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}

@mixin hook-navbar-dropdown-nav-item-active() {
    color: $gt-gold;
}

@mixin hook-heading-divider {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    color: $gt-gold;
}
// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

// Old Global Styles
body {
    font-family: 'Oswald', sans-serif !important;
}

@media (min-width: $breakpoint-medium) {
    body {
        background-color: $gt-navy-background;
    }
  
}

.sidebar-content {
    padding-top:10px;
    padding-bottom:10px;
}

.button {
    text-align: center;
    font-size: 1.5em;
    background-color: #b08d45;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a .button {
    text-decoration: none;
    color: white;
}

.button:hover {
    color:white;
    text-decoration: underline;
    text-decoration-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}