<article *ngIf="player" class="uk-article">
    <img class="action" src="{{ player.image }}" />
    <div class="header">
        <div class="position">{{ player.position }}</div>
        <img class="headshot-big uk-visible@m" src="{{ player.headshot }}" />
        <img class="headshot-small uk-hidden@m" src="{{ player.headshot }}" />
        <div class="number">#{{ player.number }}</div>
    </div>

    <div class="first-name">{{ player.first_name }}</div>
    <div class="last-name">{{ player.last_name }}</div>

    <div class="additional-info">
        <div class="hometown">{{ player.hometown }}</div>
        <div class="school">{{ player.school }}</div>
    </div>

    <p class="bio-content" *ngFor="let paragraph of paragraphs" [innerHtml]="paragraph"></p>    
</article>