.action {
    object-fit: fill;
}

.headshot-big {
    display: block;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    margin-top: -125px;
}

.headshot-small {
    display: block;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 20vw;
    margin-top: -10vw;
}

.header {
    display: flex;
    align-items: baseline;
}

.additional-info {
    display: flex;
    align-items: center;
}

.position, .number {
    color: #777;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

.hometown, .school {
    margin-top: 20px;
    color: #777;
    font-size: larger;
    width: 100%;
    text-align: center;
}

.first-name {
    display: block;
    font-size: x-large;
    color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.last-name {
    display: block;
    font-size: xx-large;
    margin-top: -10px;
    color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bio-content {
    margin-top: 20px;
    font-size: medium;
    color: #000000;
}